body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #952054;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-container {
  display: flex;
  align-items: center;
  background-color: #c64271;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: 1rem;
  cursor: pointer; 
}

.cart-icon {
  font-size: 24px;
  margin-right: 5px;
}

.cart-count {
  font-size: 18px;
  font-weight: bold;
}

#cart {
  font-size: 1rem;
  margin-left: auto; /* Reduzir a margem direita */
}

#products {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 80px; /* Espaço para o header fixo */
}

.product {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  width: calc(33.333% - 2rem);
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center; /* Centraliza o conteúdo */
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.product h2 {
  font-size: 1.25rem;
  margin: 0 0 0.5rem;
}

.product p {
  margin: 0.5rem 0;
  color: #666;
}

.product button {
  background-color: #952054;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.product button:hover {
  background-color: #c64271;
}

footer {
  background-color: #952054;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}